<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.htwg.de/mdsd/playgenmodel/PlayMorphiaModel"
			class = "de.htwg.mdsd.playgenmodel.playMorphiaModel.PlayMorphiaModelPackage"
			genModel = "model/generated/PlayMorphiaModel.genmodel" />
	</extension>
</plugin>
